
#my { 
    position: relative; 
    width: 100px; 
    height: 90px; 
    animation:heart 0.6s linear infinite;

} 

#my:before, #my:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background:#8c0707; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
    box-shadow:  -10px 10px 90px#8c0707;

} 

#my:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
    box-shadow:  -10px 10px 90px#8c0707; 
    background:#8c0707; 

}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2acac;

}

@keyframes heart{
    0%{
        transform: rotate(-1deg) scale(1.07);
    }
    80%{
        transform: rotate(-1deg) scale(1.0);
    }
    100%{
        transform: rotate(-1deg) scale(0.8);
    }
}


.container {
    padding: 20px;
    margin-top: 380px;
    margin-left: -170px;
    border-radius: 8px;
    text-align: center;
    color: #8c0707;
    font-family: 'brush script mt';
    font-size: 30px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;

}

input[type="password" ] {
    width: 100%;
    padding: 10px;
    border: 1px solid #8c0707 ;
    border-radius: 4px;
    background-color: #f78888;
}

button {
    background-color:   #f78888;
    color: #8c0707;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

button:hover {
    background-color: #8c0707;
    color: #f78888
}



